body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}

.header-div {
    display: flex;
    align-items: center;
}

img {
    display: block;
}

.address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

h1,
h2,
h4,
h3,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 76px;
}

span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.contacts {
    display: flex;
    gap: 40px;
}

.contact-link,
.contact-link-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
}

.section-two {
    padding: 120px 0;
}

.list {
    display: flex;
    gap: 24px;
}

.list-content {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

h3 {
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(100%);
}

.mainlogo {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.button:focus,
.button:hover {
    background-color: #404bbf;
}

.section-three {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-four {
    padding: 120px 0;
}

.listofportfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.team-list {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.listofteam {
    display: flex;
    gap: 24px;
}

.personaldaten {
    padding: 32px 0;
}

.portfolio-list {
    width: calc((100% - 48px) / 3);
}

.app-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.page-tittle,
.page-tittle-two,
.page-tittle-three {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.tittle,
.foto-tittle,
.foto-tittle-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-tittle,
.foto-text,
.foto-text-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.foto-text-team {
    text-align: center;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-logo {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer a {
    display: inline-block;
    margin-bottom: 16px;
}
